#!/bin/sh
xset b off

if [[ -f $HOME/.Xdefaults ]]; then
  xrdb -merge $HOME/.Xdefaults
fi

if [[ -f /usr/bin/VBoxClient-all ]]; then
  /usr/bin/VBoxClient-all
fi

if [[ -d $HOME/.dropbox-dist ]]; then
  $HOME/.dropbox-dist/dropboxd &
fi

if [[ -x /usr/bin/dunst ]]; then
  /usr/bin/dunst &
fi

fbsetbg -r $HOME/.wallpapers
xrandr --dpi 220
ssh-agent fluxbox -log ".fluxbox-log" &

fbpid=$!
wait $fbpid
